* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
    transition: all 0.5 ease;
}

header {
    background-color: #e7e7e7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 90px;
}

header h3 {
    font-size: 40px;
    margin: 20px;
}

span {
    font-weight: bolder;
    background: url("images/suecia.png") no-repeat center center;
    background-size: cover;
    background-clip: text;
    color: transparent;
}

.items {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.item1, .item2, .item3, .item4, .item5 {
    background-color: transparent;
    border-bottom: 5px solid transparent;
    padding: 48px 20px 48px 20px;
    align-self: center;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.1s ease;
    cursor: pointer;
}

.item1:hover {
    background-color: #bb07529a;
    border-bottom-color: #bb0752;
    color: #fff;
}

.item2:hover {
    background-color: #df69089a;
    border-bottom-color: #e06908;
    color: #fff;
}

.item3:hover {
    background-color: #fc00009a;
    border-bottom-color: #fc0000;
    color: #fff;
}

.item4:hover {
    background-color: #07bb769a;
    border-bottom-color: #07bb76;
    color: #fff;
}

.item5:hover {
    background-color: #0791bb9a;
    border-bottom-color: #0791bb;
    color: #fff;
}

.apresentacao, .container1, .container2, .container3, .container4, .container5 {
    background-color: #e7e7e7;
    padding: 70px;
    font-size: 20px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin: 100px;
    border-radius: 20px;
    position: absolute;
    display: none;
    text-wrap: wrap;
    translate: 0px -70px;
    max-width: 1400px;
}

.apresentacao {
    background-color: #e7e7e7;
    padding: 70px;
    font-size: 20px;
    display: flex;
    margin: 150px;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    text-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
}

.apresentacao h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.container1 h2{
    color: #bb0752;
    font-size: 45px;
    margin-bottom: 30px;
}

.container2 h2{
    color: #e06908;
    font-size: 50px;
    margin-bottom: 30px;
}

.container3 h2{
    color: #fc0000;
    font-size: 50px;
    margin-bottom: 30px;
}

.container4 h2{
    color: #07bb76;
    font-size: 50px;
    margin-bottom: 30px;
}

.container5 h2{
    color: #0791bb;
    font-size: 50px;
    margin-bottom: 30px;
}

.foto {
    width: 450px;
    height: 250px;
    border-radius: 30px;
    margin: 50px;
    justify-self: center;
}

.fotos {
    display: flex;
    justify-content: space-around;
}