* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
    transition: all 0.5 ease;
}

header {
    background-color: #e7e7e7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 90px;
}

header h3 {
    font-size: 40px;
    margin: 20px;
}

span {
    font-weight: bolder;
    background: url("images/suecia.png") no-repeat center center;
    background-size: cover;
    background-clip: text;
    color: transparent;
}

.items {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.item1, .item2, .item3, .item4, .item5 {
    background-color: transparent;
    border-bottom: 5px solid transparent;
    padding: 48px 20px 48px 20px;
    align-self: center;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.1s ease;
    cursor: pointer;
}

.item1:hover {
    background-color: #bb07529a;
    border-bottom-color: #bb0752;
    color: #fff;
}

.item2:hover {
    background-color: #df69089a;
    border-bottom-color: #e06908;
    color: #fff;
}

.item3:hover {
    background-color: #fc00009a;
    border-bottom-color: #fc0000;
    color: #fff;
}

.item4:hover {
    background-color: #07bb769a;
    border-bottom-color: #07bb76;
    color: #fff;
}

.item5:hover {
    background-color: #0791bb9a;
    border-bottom-color: #0791bb;
    color: #fff;
}

.icon {
    display: none;
    font-size: 30px;
    color: #006aa7;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1600px) {
    header {
        flex-direction: column;
        align-items: center;
        position: relative;
        /* necessário para posicionar o menu internamente */
        z-index: 10;
    }
    
    .items {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        background: #e7e7e7;
        z-index: 20;
        margin: 0;
        font-size: 20px;
    }

    #menu:checked~.items {
        max-height: 695px;
    }

    .item1, .item2, .item3, .item4, .item5 {
        min-width: 100%;
        border-top: 3px solid #fff;
        text-align: center;
    }

    .icon {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 40px;
        cursor: pointer;
        z-index: 30;
        font-weight: bold;
    }

    .titulo {
        padding: 8px;
        display: flex;
        font-size: 30px;
        align-self: center;
    }
}

.container1, .container2, .container3, .container4, .container5 {
    background-color: #e7e7e7;
    padding: 70px;
    font-size: 20px;
    justify-self: center;
    flex-direction: column;
    margin: 50px;
    border-radius: 20px;
    display: none;
    text-wrap: wrap;
    max-width: 1400px;
}

.apresentacao {
    background-color: #e7e7e7;
    padding: 70px;
    font-size: 20px;
    display: flex;
    margin: 50px;
    flex-direction: column;
    border-radius: 20px;
    text-wrap: wrap;
    max-width: 1000px;
    justify-self: center;
}

.apresentacao h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.container1 h2{
    color: #bb0752;
    font-size: 45px;
    margin-bottom: 30px;
}

.container2 h2{
    color: #e06908;
    font-size: 50px;
    margin-bottom: 30px;
}

.container3 h2{
    color: #fc0000;
    font-size: 50px;
    margin-bottom: 30px;
}

.container4 h2{
    color: #07bb76;
    font-size: 50px;
    margin-bottom: 30px;
}

.container5 h2{
    color: #0791bb;
    font-size: 50px;
    margin-bottom: 30px;
}

.foto, .foto1 {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 30px;
    object-fit: contain;
    justify-self: center;
    margin: 30px;
    box-shadow: 0px 30px 40px -20px #00000099;
}

.foto:hover {
    scale: 105%;
    transition: scale 0.5s;
}

.fotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .titulo {
        font-size: 25px;
    }
    
    .container1, .container2, .container3, .container4, .container5 {
        text-align: justify;
        justify-content: center;
    }

    .item1, .item2, .item3, .item4, .item5 {
        padding: 30px;
    }
}

@media (max-width: 600px) {
    .titulo {
        font-size: 20px;
    }
    
    .container1 h2, .container2 h2, .container3 h2, .container4 h2, .container5 h2 {
        font-size: 30px;
        text-align: center;
    }

    .container1, .container2, .container3, .container4, .container5 {
        font-size: 15px;
        padding: 70px;
        margin: 30px;
    }
}

@media (max-width: 500px) {
    .titulo {
        font-size: 18px;
    }

    .items {
        font-size: 18px;
    }

    .icon {
        font-size: 25px;
        top: 40px;
    }   

    .container1 h2, .container2 h2, .container3 h2, .container4 h2, .container5 h2 {
        font-size: 25px;
        text-align: center;
    }

    .container1, .container2, .container3, .container4, .container5 {
        font-size: 13px;
        padding: 60px;
        margin: 30px;
    }
}

@media (max-width: 425px) {
    header {
        height: 60px;
    }

    .icon {
        top: 30px;
    }

    .items {
        font-size: 15px;
    }

    .titulo {
        font-size: 13px;
        translate: 0px -5px;
    }

    .container1 h2, .container2 h2, .container3 h2, .container4 h2, .container5 h2 {
        font-size: 20px;
        text-align: center;
    }

    .container1, .container2, .container3, .container4, .container5 {
        font-size: 13px;
        padding: 40px;
        margin: 30px;
    }

}